 <link rel="stylesheet" href="/static/css/stripe_form.css">
<script src="/static/javascript/contact.js"></script>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 page-title">
				<p id="title">Congregation Peace & Brotherhood of Monastir Inc.</p>
			</div>
			<div class="col-md-2 links">
				<p id="contact-link" class="link"><a href="/">Home</a></p>
{{!-- 				{{#if user}}
					<a href="/logout">Logout</a>
				{{else}}
					<p id="login-link" class="link"><a data-toggle="modal" href="#login-modal">Login</a></p>
				{{/if}} --}}
			</div>
		</div>
	</div>
</nav>
<br>
<h3 class="text-center">If you have any questions or inquiries,<br> please fill out the form below</h3>
<div class="row">
	<div class="col-md-4 col-md-offset-4 well">
		<form id="send-email">
			<div class="form-group">
				<label>Name</label>
				{{#if user}}
					<input id="name-input" type="text" class="form-control" data-parsley-length="[3, 40]" value="{{name}}" data-parsley-type="text"/>
				{{else}}
					<input id="name-input" type="text" class="form-control" data-parsley-length="[3, 40]" required="" data-parsley-type="text"/>
				{{/if}}
			</div>
			<div class="text-center">
				<div class="loader-container">
				    <img src="static/images/giphy-downsized.gif"/>
				</div>
			</div>
			<div class="form-group">
				<label>Email</label>
				{{#if user}}
					<input id="email-input" type="email" data-parsley-type="email" value={{email}} class="form-control"/>
				{{else}}
					<input id="email-input" type="email" data-parsley-type="email" required="" class="form-control"/>
				{{/if}}
			</div>
			<div class="form-group">
				<label>Message</label>
				<textarea data-parsley-length="[1, 1000]" required="" style="height: 100px;"id="message-input" class="form-control"></textarea>
			</div>
			<br>
			<div class="form-group">
				<input type="submit" id="contact_submit" class="center-block btn btn-primary btn-block"/>
			</div>
		</form>
	</div>
</div>
<div id="login-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	  <div class = "modal-content">
	   	<div class = "modal-header">
	    	<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
	    <div class = "modal-body">
	    	<div class="text-center">
	    		<h3>Please Login or Sign Up</h3>
		    	<a id='sign-up-button' class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
	    		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
	    		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	    	</div>
	    	<br><br>
	    	<div id="signUpForm" class="text-center well">
	    		<form id="sign-up" action="/signup" method="POST" class="form-horizontal">
				    <div class="form-group">
				        <label class="col-xs-3 control-label">Name</label>
				        <div class="col-xs-5">
				            <input type="text" class="form-control" name="name" data-parsley-length="[8, 40]" required=""/>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-xs-3 control-label">Email</label>
				        <div class="col-xs-5">
				            <input class="form-control" name="email" type="email" data-parsley-type="email" required=""/>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-xs-3 control-label">Password</label>
				        <div class="col-xs-5">
				            <input type="password" class="form-control" name="password" data-parsley-minlength="8" required=""/>
				        </div>
				    </div>
			    	<br>
				    <div class="form-group">
				        <div class="col-xs-6 col-xs-offset-3">
				            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
				        </div>
				    </div>
	    		</form>
	    	</div>
	    </div>
	    <div class = "modal-footer">
	    	<button type="button" class="btn btn-default center-block bottom-button" data-dismiss="modal">Close</button>
	    </div>
	  </div>
	</div>
</div>
<br><br>
<hr>
<footer>
	<p class="text-center">Congregation Peace & Brotherhood of Monastir Inc.</p>
</footer>